<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/styles.css"/>
	<link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">
	<title>Kindergarten Quiz</title>
</head>
<body>

	<div id="animal-app">
		<div class="menu" id="topnav">
			<nav class="navbar">
		    	<div class="container">
		       		<ul class="navbar-list">
		       			<li class="navbar-item"><a class="navbar-link" href="index.html">Home</a></li>
		       			<li class="navbar-item"><a class="navbar-link" href="math_quiz.html">Math Quiz</a></li>
		       			<li class="navbar-item"><a class="navbar-link" href="color_quiz.html">Color Quiz</a></li>
		       			<li class="navbar-item"><a class="navbar-link active" href="animal_quiz.html">Animal Quiz</a></li>
		       			<li class="navbar-item"><a class="navbar-link" href="your_quizzes.html">Your Quizzes</a></li>
		       			<div class="dropdown">
		       				<button class="dropbtn">&#9776
		       					<i class="fa fa-caret-down"></i>
		       				</button>
		       				<div class="dropdown-content">
		       					<a href="index.html">Home</a>
	       						<a href="math_quiz.html">Math Quiz</a>
	       						<a href="color_quiz.html">Color Quiz</a>
	       						<a class="active" href="animal_quiz.html">Animal Quiz</a>
	       						<a href="your_quizzes.html">Your Quizzes</a>
		       				</div>
		    			</div>
	    			</ul>
	  	  		</div>
	  		</nav>
	  	</div>

	  	<div class="quiz" v-if="ready">
	  		<h1>What animal is this?</h1>
	  		<div class="question">
	  			<img class="quiz-pic" v-bind:src="animalQuiz[id].question">
	  		</div>
	  		<div v-for="answer in animalQuiz[id].choices">
	  			<button class="choice-button"  v-on:click="clickAnswer(animalQuiz[id].choices[answer.num])">{{ answer.choice }}</button>
	  		</div>
	  		<button class="nav-button" v-on:click="prev()">Prev</button>
	  		<button class="nav-button" v-on:click="submitAnswer()">{{ nextButtonText }}</button>
	  		<div>
	  			<h3>Question: {{ id+1 }} / 10</h3>
	  		</div>
	  	</div>
	  	<div class="start-div" v-else>
	  		<div v-if="complete">
	  			<h1> You got {{ numRight }} / 10 correct! {{ encouragementText }}</h1>
	  			<button class="start-button" v-on:click="startNewAnimalQuiz()">Retry?</button>
	  		</div>
	  		<div v-else>
	  			<h1>Ready?</h1>
	  			<button class="start-button" v-on:click="startAnimalQuiz()">Start</button>
	  		</div>
	  	</div>

	</div>

	<div class="footer">
		<a target="_blank" href="https://github.com/kurtishill/creativeproject4">GitHub</a>
	</div>


  	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js" integrity="sha256-pU9euBaEcVl8Gtg+FRYCtin2vKLN8sx5/4npZDmY2VA=" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</body>
</html>