body {
	font-family: 'Itim', cursive;
}

.header {
	margin: 2%;
}

h1 {
	font-size: 3rem;
}

h3 {
	font-size: 1.7rem;
}

h5 {
	font-size: 1.2rem;
}

.menu {
	margin-left: 2%;
	margin-right: 2%;
}

.navbar-list .icon {
	display: none;
}

.navbar {
	display: block;
	width: 100%;
	height: 6.5rem;
	background: #fff;
	border-bottom: 1px solid #eee;
}

.navbar-list {
	list-style: none;
	margin-bottom: 0;
}

.navbar-item {
	position: relative;
	float: left;
	margin-bottom: 0;
}

.navbar-link {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2rem;
	margin-right: 35px;
	text-decoration: none;
	line-height: 6.5rem;
	color: #222;
}

.navbar-link:hover {
	color: #FF6F0D;
}

.active {
	color: #26E807;
}

.menu li {
	display: none;
}

.dropwdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 30px; 
    border: none;
    outline: none;
    color: black;
    padding: 25px 0px;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu a:hover, .dropdown:hover .dropbtn {
    color: #FF6F0D;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#home-pic {
	width: 100%;
}

.quiz {
	margin: 5%;
	text-align: center;
}

button {
	width: 200px;
	height: 50px;
	font-size: 20px;
	font-family: inherit;
	margin-bottom: 10px;
}

.start-button {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(66, 184, 221);
}

.nav-button {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(66, 184, 221);
	width: 100px;
	height: 45px;
}

.start-div {
	text-align: center;
}

.choice-button:focus {
	background: #26E807;
}

.quiz-pic {
	width: 80%;
	height: 20%;
	margin-bottom: 2%;
}

.footer a {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	text-decoration: none;
	color: #26E807;
}

.footer a:hover {
	color: #FF6F0D;
}

@media (min-width: 600px) {
	.menu li {
		display: block;
	}

	.dropdown {
		display: none;
	}

	#home-pic {
		width: 60%;
	}

	.quiz-pic {
		width: 30%;
	}

}
