<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/styles.css"/>
	<link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">
	<title>Kindergarten Quiz</title>
</head>
<body>

	<div id="your-quizzes-app">
		<div class="menu" id="topnav">
			<nav class="navbar">
		    	<div class="container">
		       		<ul class="navbar-list">
		       			<li class="navbar-item"><a class="navbar-link" href="index.html">Home</a></li>
		       			<li class="navbar-item"><a class="navbar-link" href="math_quiz.html">Math Quiz</a></li>
		       			<li class="navbar-item"><a class="navbar-link" href="color_quiz.html">Color Quiz</a></li>
		       			<li class="navbar-item"><a class="navbar-link" href="animal_quiz.html">Animal Quiz</a></li>
		       			<li class="navbar-item"><a class="navbar-link active" href="your_quizzes.html">Your Quizzes</a></li>
		       			<div class="dropdown">
		       				<button class="dropbtn">&#9776
		       					<i class="fa fa-caret-down"></i>
		       				</button>
		       				<div class="dropdown-content">
		       					<a href="index.html">Home</a>
	       						<a href="math_quiz.html">Math Quiz</a>
	       						<a href="color_quiz.html">Color Quiz</a>
	       						<a href="animal_quiz.html">Animal Quiz</a>
	       						<a class="active" href="your_quizzes.html">Your Quizzes</a>
		       				</div>
		    			</div>
	    			</ul>
	  	  		</div>
	  		</nav>
	  	</div>

	  	<div v-if="quizList.length === 0">
	  		<h1 class="header">There are no quizzes available!</h1>
	  	</div>
	  	<div v-else>
	  		<ul>
	  			<li class="quiz-list" v-for="quiz in quizList">
	  				<h5>{{ quiz.name }}</h5>&nbsp&nbsp<h5 style="color: #FF6F0D;">{{ quiz.subject }}</h5>
	  				<a href="take_quiz.html" style="text-decoration: none; margin-left: auto;"><button v-on:click="takeQuiz(quiz)" class="takequiz">Take Quiz</button></a>
	  				<button v-on:click="deleteQuiz(quiz)" class="delete">X</button>
	  			</li>
	  		</ul>
	  	</div>
	  	<a href="make_quiz.html"><button class="start-button" style="margin: 2%;">Make a new quiz</button></a>

	</div>

	<div class="footer">
		<a target="_blank" href="https://github.com/kurtishill/creativeproject4">GitHub</a>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js" integrity="sha256-pU9euBaEcVl8Gtg+FRYCtin2vKLN8sx5/4npZDmY2VA=" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</body>
</html>